<video data-setup="{&quot;language&quot;:&quot;en&quot;}"
       id="player_html5_html5_api"
       class="vjs-tech" autoplay="" preload="auto" tabindex="-1"
       src="blob:https://xmovies8.es/1fea9649-5499-4b58-b7fa-02d5d7135143"></video>

<mat-card>
  <video


  ></video>
</mat-card>
<mat-card>
  <mat-card-title>
    <mat-form-field>
      <input type="text"
             matInput
             placeholder="Search ..."
             (keyup)="doSearch($event)"
             (click)="onSearchClicked($event)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>


    <button mat-raised-button
            color="primary"
            (click)="doListAll($event)">
      list all
    </button>
  </mat-card-title>
  <mat-card-content>

    <div *ngFor="let blog of blogs; let i = index">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <button mat-button
                  (click)="select(i)">
            {{blog.title}}
          </button>
          <!--<span>{{blog.id}}</span>-->
          <span>
              <button mat-icon-button
                      mat-tooltip="Delete selected"
                      (click)="doDelete(blog.id)">
              <mat-icon>close</mat-icon>
            </button>
            </span>
        </mat-expansion-panel-header>
        <app-blog-editor
          (insert)="doInsert_v1($event)"
          (update)="doUpdate_v1($event)"
          #blogEditor>
        </app-blog-editor>
      </mat-expansion-panel>
    </div>
  </mat-card-content>
</mat-card>

<p></p>
<mat-card>
  <mat-card-title>
    <h2>{{title}}</h2>
  </mat-card-title>
<button mat-raised-button color="accent" (click)="onClickd">test button</button>
</mat-card>
