<mat-grid-list cols="10"
               rowHeight="50"
               style="background-color: whitesmoke">
  <!--SPACER-->
  <mat-grid-tile colspan="10"></mat-grid-tile>
  <ng-container *ngFor="let itm of blogs; let idx = index">
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="2"
                   rowspan="1"
                   style=" display: flex;
                                     flex-flow: row nowrap;
                               justify-content: flex-start;">

      <button mat-button
              (click)="routeToEditor(itm)"
              style="  font-size: 1.5rem;
                                     font-family: Roboto;
                                     margin-right: auto;
                                     font-weight: 100;"
              type="button">
        {{itm.title}}
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <a mat-icon-button
         (click)="confirmDelete(itm)">
        <mat-icon>clear_circle</mat-icon>
      </a>
      <a mat-icon-button
         (click)="editBlog(itm)">
        <mat-icon>create</mat-icon>
      </a>
    </mat-grid-tile>
    <mat-grid-tile colspan="6"></mat-grid-tile>
  </ng-container>
  <!--SPACER-->
  <mat-grid-tile colspan="10"></mat-grid-tile>
  <mat-grid-tile colspan="7" style="overflow: visible">
    <button (click)="addItemAction()"
            mat-fab
            style=" z-index: 220; transform: translate(150px,25px)"
            color="accent">
      INSERT
    </button>
  </mat-grid-tile>
</mat-grid-list>

