<mat-sidenav-container>
    <mat-sidenav #sidenav
                 disable-close="true"
                 mode="over"
                 position="'side'"
                 style="width: 100%;">

        <button type="button"
                mat-icon-button
                color="accent"
                (click)="sidenav.close()">
            <mat-icon>remove</mat-icon>
        </button>
        <button (click)="addItemAction()"
                mat-raised-button
                color="accent">
            INSERT BLOG
        </button>

        <mat-grid-list cols="12"
                       [rowHeight]="50"
                       style="background-color: palegreen;">
            <ng-container *ngFor="let itm of blogs; let idx = index">
                <mat-grid-tile colspan="4"
                               rowspan="1"
                               style=" display: flex;
                                     flex-flow: row nowrap;
                               justify-content: flex-start;">

                    <button mat-button
                            (click)="_itmSelected(itm)"
                            style="  font-size: 1.5rem;
                           font-family: Roboto;
                           font-weight: 100;"
                            type="button">
                        {{itm.title}}
                    </button>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <button mat-icon-button
                            (click)="commit_delete(itm.id)">
                        <mat-icon mat-tooltip="delete">
                            clear_circle
                        </mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <a mat-icon-button
                       (click)="switchStateEdit(itm)">
                        <mat-icon>create</mat-icon>
                    </a>
                </mat-grid-tile>
                <mat-grid-tile colspan="4"></mat-grid-tile>
            </ng-container>
        </mat-grid-list>
    </mat-sidenav>
    <button type="button"
            mat-icon-button
            style="padding-top: 10px;"
            color="primary"
            (click)="sidenav.open()">
        <mat-icon style="font-size: 3rem;">
            keyboard_arrow_left
        </mat-icon>
    </button>


    <app-blog-editor [selectedBlog]="blog"
                     (update)="commit_update($event)"
                     (delete)="commit_delete($event)"
                     (insert)="commit_insert($event)">

    </app-blog-editor>
</mat-sidenav-container>
